a:hover {
  color: green;
}

.HolyGrail {
  display: flex;
  flex-direction: column;
}

.HolyGrail-main {
  display: flex;
  flex: auto；
}

.HolyGrail-article {
  flex: 3;
}
.HolyGrail-aside {
  flex: 1;
  order: -1;
}
